    @model GameStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<h2>List</h2>
@foreach (var p in Model.Products)
{
    Html.RenderPartial("ProductSummary", p);
}  
    <div class=""pager"">
        @Html.PageLinks(Model.pagingInfo, m => Url.Action("List",
        new { Page = m, category = Model.CurrentCategory }))
    </div>
    

